<%- include("layout",{title: "首页"}) -%>
<div class="container">
    <button class="btn btn-hg btn-primary">
        Boss Button
      </button>
      <button class="btn btn-embossed btn-primary">
        Embossed Button
      </button>
</div>
